{
    "go.testEnvVars": {
        "LOG_LEVEL": "debug",
        "EMAIL_FROM": "",
        "EMAIL_TO": "",
        "SMTP_SERVER": "",
        "SMTP_PORT": "",
        "SMTP_USERNAME": "",
        "SMTP_PASSWORD": "",
        "SLACK_HOOK": "",
        "SLACK_USERNAME": "",
    },
    "mdb.presetConnections": [
        {
            "name": "MongoDB Atlas Production",
            "connectionString": "mongodb+srv://xxx:xxxx@xxxx.mongodb.net/?retryWrites=true&w=majority"
        }
    ],
    "git.autofetch": true,
    "git.enableSmartCommit": true
}
