name: Build pull request
on:
  pull_request:
    types: [opened, synchronize, reopened]

env:

  # Build variables
  ORGANIZATION: uug-ai
  PROJECT: ${{ github.event.repository.name }}
  GO_VERSION: "1.24"
  GO_DIR : "./"

jobs:

  build:
    runs-on: ${{ matrix.runner }}
    env:
      SLACK_HOOK: ${{ secrets.SLACK_HOOK }}
      SLACK_USERNAME: ${{ secrets.SLACK_USERNAME }}
      SMTP_SERVER: ${{ secrets.SMTP_SERVER }}
      SMTP_PORT: ${{ secrets.SMTP_PORT }}
      SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
      EMAIL_FROM: ${{ secrets.EMAIL_FROM }}
      EMAIL_TO: ${{ secrets.EMAIL_TO }}
      WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
      WEBHOOK_TIMEOUT: ${{ secrets.WEBHOOK_TIMEOUT }}
    permissions:
      contents: write
      packages: write
    strategy:
      matrix:
        include:
          - architecture: amd64
            runner: ubuntu-24.04
          - architecture: arm64
            runner: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-go@v5
        with:
          go-version: "${{ env.GO_VERSION }}"
          check-latest: true
          cache-dependency-path: |
            go.sum
      # Test the Golang application
      - name: Test Golang application
        run: |
          git config --global url."https://${{ secrets.USERNAME }}:${{ secrets.TOKEN }}@github.com/".insteadOf "https://github.com/"
          go fmt $(go list ./... | grep -v /vendor/)
          go vet $(go list ./... | grep -v /vendor/)
          go test -race $(go list ./... | grep -v /vendor/)
      # Build the Golang application to the dist folder
      - name: Build Golang application
        run: |
          git config --global url."https://${{ secrets.USERNAME }}:${{ secrets.TOKEN }}@github.com/".insteadOf "https://github.com/"
          go build -o main
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN }}
      - name: Run Build
        run: |
          docker build -t ${{matrix.architecture}} \
          --build-arg project=${{ env.PROJECT }} \
          --build-arg github_username=${{ secrets.USERNAME }} \
          --build-arg github_token=${{ secrets.TOKEN }} .